<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RestaurantData"
             connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=RestaurantData;Integrated Security=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="MenuDiscount" value="10" />

		<add key="MinOrderValueForDiscount" value="200" />

		<add key="OrdersCountThreshold" value="5" />
		<add key="TimeIntervalDays" value="30" />

		<add key="OrderDiscountPercentage" value="5" />

		<add key="FreeTransportThreshold" value="100" />
		<add key="TransportFee" value="15" />

		<add key="LowStockThreshold" value="2" />
	</appSettings>
</configuration>